<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
  <listener>
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ServiciosViewcompingresadosPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosResolucionesPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosAccidentalidadPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosLiquidacionPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosGeneralesPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosAccesoriasPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosTramitesRNAPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosPersonasPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosEmpresasPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosVehiculosPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosRepresentantesLegalesPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosSucursalesPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewVehiculoPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosMedidasCautelaresPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosRadicacionPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewPropietarioPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewGeneralesPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosRangosPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosUsuariosPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosComparendosPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosPropietariosPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosTransitoPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosTarifasPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosTramitesGeneralesPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosLiquidacionCompPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosCuposTransPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosLPagoImpuestoPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosAccesoriasCompPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosGeneralesCompPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosDocumentosPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosAvaluosPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosTramitesTransPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosTarifasCompPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosArchivosPlanosPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosLiquidadorPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosLiquidadorComparendosPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosLimitacionPropVehiculoPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosRangosDeComparendosPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewPropietarioEmpresa2Port</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosAccesoriasConduccionPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosAuditoriaPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosPlanosSimitPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosComparendosCargaSimitPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosPlanoComparendoPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosPlanoRecaudosPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosPlanoResolucionesPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewComparendosFechasPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewCompFaltantesCargaPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewInfraccionesComparendoPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewInfractorComparendoPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewPagosSimitPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewPropVehiculoComparendoPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewResFaltantesCargaPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewResolucionesPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewResolucionesAlcoholemiaPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewResSinAlcoholemiaPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewVehiculoComparendoPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewCompPorRangoAprobadosPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewResolucionAnteriorPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServicioConsultaCiatranPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosLicenciasConduccionPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosConfiguracionesPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosReciboscomparendoPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>GenCorBarFacPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosHistoriaDeVehiculoPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosLicenciaDeTransitoPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewPagosFaltantesCargaPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosCitasCompPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosCentroConduccionPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosReportesPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosViewtramitesvehiculoporfechaPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosCoactivoPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServiciosLogsPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServiciosErroresSWPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServiciosFechasPort</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiciosLogsPort</servlet-name>
    <url-pattern>/ServiciosLogsPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosErroresSWPort</servlet-name>
    <url-pattern>/ServiciosErroresSWPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosLiquidacionPort</servlet-name>
    <url-pattern>/ServiciosLiquidacionPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosGeneralesPort</servlet-name>
    <url-pattern>/ServiciosGeneralesPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosAccesoriasPort</servlet-name>
    <url-pattern>/ServiciosAccesoriasPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosTramitesRNAPort</servlet-name>
    <url-pattern>/ServiciosTramitesRNAPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosPersonasPort</servlet-name>
    <url-pattern>/ServiciosPersonasPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosEmpresasPort</servlet-name>
    <url-pattern>/ServiciosEmpresasPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosVehiculosPort</servlet-name>
    <url-pattern>/ServiciosVehiculosPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosRepresentantesLegalesPort</servlet-name>
    <url-pattern>/ServiciosRepresentantesLegalesPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosSucursalesPort</servlet-name>
    <url-pattern>/ServiciosSucursalesPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewVehiculoPort</servlet-name>
    <url-pattern>/ServiciosViewVehiculoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosMedidasCautelaresPort</servlet-name>
    <url-pattern>/ServiciosMedidasCautelaresPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosRadicacionPort</servlet-name>
    <url-pattern>/ServiciosRadicacionPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewPropietarioPort</servlet-name>
    <url-pattern>/ServiciosViewPropietarioPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewGeneralesPort</servlet-name>
    <url-pattern>/ServiciosViewGeneralesPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosRangosPort</servlet-name>
    <url-pattern>/ServiciosRangosPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosUsuariosPort</servlet-name>
    <url-pattern>/ServiciosUsuariosPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosComparendosPort</servlet-name>
    <url-pattern>/ServiciosComparendosPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosPropietariosPort</servlet-name>
    <url-pattern>/ServiciosPropietariosPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosTransitoPort</servlet-name>
    <url-pattern>/ServiciosTransitoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosTarifasPort</servlet-name>
    <url-pattern>/ServiciosTarifasPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosTramitesGeneralesPort</servlet-name>
    <url-pattern>/ServiciosTramitesGeneralesPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosLiquidacionCompPort</servlet-name>
    <url-pattern>/ServiciosLiquidacionCompPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosCuposTransPort</servlet-name>
    <url-pattern>/ServiciosCuposTransPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosLPagoImpuestoPort</servlet-name>
    <url-pattern>/ServiciosLPagoImpuestoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosAccesoriasCompPort</servlet-name>
    <url-pattern>/ServiciosAccesoriasCompPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosGeneralesCompPort</servlet-name>
    <url-pattern>/ServiciosGeneralesCompPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosDocumentosPort</servlet-name>
    <url-pattern>/ServiciosDocumentosPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosAvaluosPort</servlet-name>
    <url-pattern>/ServiciosAvaluosPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosTramitesTransPort</servlet-name>
    <url-pattern>/ServiciosTramitesTransPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosTarifasCompPort</servlet-name>
    <url-pattern>/ServiciosTarifasCompPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosArchivosPlanosPort</servlet-name>
    <url-pattern>/ServiciosArchivosPlanosPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosLiquidadorPort</servlet-name>
    <url-pattern>/ServiciosLiquidadorPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosLiquidadorComparendosPort</servlet-name>
    <url-pattern>/ServiciosLiquidadorComparendosPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosLimitacionPropVehiculoPort</servlet-name>
    <url-pattern>/ServiciosLimitacionPropVehiculoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosRangosDeComparendosPort</servlet-name>
    <url-pattern>/ServiciosRangosDeComparendosPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewPropietarioEmpresa2Port</servlet-name>
    <url-pattern>/ServiciosViewPropietarioEmpresa2Port</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosAccesoriasConduccionPort</servlet-name>
    <url-pattern>/ServiciosAccesoriasConduccionPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosAuditoriaPort</servlet-name>
    <url-pattern>/ServiciosAuditoriaPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosPlanosSimitPort</servlet-name>
    <url-pattern>/ServiciosPlanosSimitPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosComparendosCargaSimitPort</servlet-name>
    <url-pattern>/ServiciosComparendosCargaSimitPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosPlanoComparendoPort</servlet-name>
    <url-pattern>/ServiciosPlanoComparendoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosPlanoRecaudosPort</servlet-name>
    <url-pattern>/ServiciosPlanoRecaudosPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosPlanoResolucionesPort</servlet-name>
    <url-pattern>/ServiciosPlanoResolucionesPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewComparendosFechasPort</servlet-name>
    <url-pattern>/ServiciosViewComparendosFechasPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewCompFaltantesCargaPort</servlet-name>
    <url-pattern>/ServiciosViewCompFaltantesCargaPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewInfraccionesComparendoPort</servlet-name>
    <url-pattern>/ServiciosViewInfraccionesComparendoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewInfractorComparendoPort</servlet-name>
    <url-pattern>/ServiciosViewInfractorComparendoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewPagosSimitPort</servlet-name>
    <url-pattern>/ServiciosViewPagosSimitPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewPropVehiculoComparendoPort</servlet-name>
    <url-pattern>/ServiciosViewPropVehiculoComparendoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewResFaltantesCargaPort</servlet-name>
    <url-pattern>/ServiciosViewResFaltantesCargaPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewResolucionesPort</servlet-name>
    <url-pattern>/ServiciosViewResolucionesPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewResolucionesAlcoholemiaPort</servlet-name>
    <url-pattern>/ServiciosViewResolucionesAlcoholemiaPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewResSinAlcoholemiaPort</servlet-name>
    <url-pattern>/ServiciosViewResSinAlcoholemiaPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewVehiculoComparendoPort</servlet-name>
    <url-pattern>/ServiciosViewVehiculoComparendoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewCompPorRangoAprobadosPort</servlet-name>
    <url-pattern>/ServiciosViewCompPorRangoAprobadosPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewResolucionAnteriorPort</servlet-name>
    <url-pattern>/ServiciosViewResolucionAnteriorPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServicioConsultaCiatranPort</servlet-name>
    <url-pattern>/ServicioConsultaCiatranPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosLicenciasConduccionPort</servlet-name>
    <url-pattern>/ServiciosLicenciasConduccionPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosConfiguracionesPort</servlet-name>
    <url-pattern>/ServiciosConfiguracionesPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosReciboscomparendoPort</servlet-name>
    <url-pattern>/ServiciosReciboscomparendoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenCorBarFacPort</servlet-name>
    <url-pattern>/GenCorBarFacPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosHistoriaDeVehiculoPort</servlet-name>
    <url-pattern>/ServiciosHistoriaDeVehiculoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosLicenciaDeTransitoPort</servlet-name>
    <url-pattern>/ServiciosLicenciaDeTransitoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewPagosFaltantesCargaPort</servlet-name>
    <url-pattern>/ServiciosViewPagosFaltantesCargaPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosCitasCompPort</servlet-name>
    <url-pattern>/ServiciosCitasCompPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosCentroConduccionPort</servlet-name>
    <url-pattern>/ServiciosCentroConduccionPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosReportesPort</servlet-name>
    <url-pattern>/ServiciosReportesPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewtramitesvehiculoporfechaPort</servlet-name>
    <url-pattern>/ServiciosViewtramitesvehiculoporfechaPort</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ServiciosCoactivoPort</servlet-name>
    <url-pattern>/ServiciosCoactivoPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosAccidentalidadPort</servlet-name>
    <url-pattern>/ServiciosAccidentalidadPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosViewcompingresadosPort</servlet-name>
    <url-pattern>/ServiciosViewcompingresadosPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosResolucionesPort</servlet-name>
    <url-pattern>/ServiciosResolucionesPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiciosFechasPort</servlet-name>
    <url-pattern>/ServiciosFechasPort</url-pattern>
  </servlet-mapping>
    <session-config>
        <session-timeout>
            666
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
</web-app>
